@charset "utf-8";

*{
    /* html 제작시 소량의 마진과 패딩값이 적용되어 있으므로 기존의 값을 제거 시켜주는 목적 */
    margin: 0;
    padding: 0;

}

body{
    font-family: sans-serif;
/* font-family: "사용되는 폰트", "대체폰트"; */
    font-size:14px; /* 기본 폰트사이즈 */
    color:#444; /* 기본서체 컬러 */
}

ul,ol{
    list-style-type: none; /* 리스트 앞의 특수 기호 제거 */
}

a{
    text-decoration: none; /* a태그의 밑줄을 제거 */
    color:#444; /* a태그의 문자 색상 */
}

img, input{
    border:0; /* 이미지 태그와 인풋태그에 존재하는 소량의 선을 없애줌 */
    vertical-align: top; /* 블록 영역안에서 이미지 및 인풋 구성이 포할될 때 하단에 공백이 생기지 않도록 만들어주는 트릭과 같은 속성 */

}